.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	font-family: futura, verdana;
}

ul {
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	overflow: hidden;
	background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(79,79,79,1) 50%, rgba(0,0,0,1) 100%);
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.avatar {
    vertical-align: middle;
    width: 1.8vw;
    height: 1.8vw;
    border-radius: 50%;
}

.avatar-position {
	margin-top: 2vh;
	text-align: center;
}